body {
    background: rgb(252, 252, 252);
    margin: auto;
}

#titulo {
    text-align: center;
    font-family: 'Oswald', sans-serif;;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    --main-border: #edf5fd;
    --secondery-border: #e2e2e2;
    --primary-color: #07f;
    --danger-color: #f44336;
    --light-danger-color: #ffecec;
    --active-text-color: #fff;
    --header-color: #535461;
    --block-color: #5a6982;
    --outline-imput-bg: #f2f2f2;
    --title-color: #354052;
    font-feature-settings: "tnum";
    border: 10;
    font: inherit;
    vertical-align: baseline;
    margin: 0px 0;
    padding: 0px;
    background-image: linear-gradient(to right,#478bef,#44acf1);
    box-shadow: 0 12px 20px #439bf33d;
    border-radius: 22px;
    color: #fff;
    min-height: 100px;
    text-align: center;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
    font-weight: bold
}

#perfil {
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin-left: 550px;
    margin-top: 20px;
}

#informacion {
        -webkit-tap-highlight-color: transparent;
        -webkit-text-size-adjust: 100%;
        --antd-wave-shadow-color: #1890ff;
        --scroll-bar: 0;
        --main-border: #edf5fd;
        --secondery-border: #e2e2e2;
        --primary-color: #07f;
        --danger-color: #f44336;
        --light-danger-color: #ffecec;
        --active-text-color: #fff;
        --header-color: #535461;
        --block-color: #5a6982;
        --outline-imput-bg: #f2f2f2;
        --title-color: #354052;
        font-feature-settings: "tnum";
        border: 10;
        font: inherit;
        vertical-align: baseline;
        margin: 10px 0;
        padding: 100px;
        background-image: linear-gradient(to right,#478bef,#44acf1);
        box-shadow: 0 12px 20px #439bf33d;
        border-radius: 22px;
        color: #fff;
        min-height: 245.5px;
        text-align: center;
        flex-flow: row wrap;
        box-sizing: border-box;
        display: flex;
        place-content: center space-around;
        align-items: center;
        font-weight: bold
 
}
 
#instruccion {
    font-family:'Oswald', sans-serif;   
    color: white;
    font-weight: bold
}

#botones {
    text-align: center;
    background-color: rgb(1, 153, 199);
    margin-top: 50px;
    font-family:'Oswald', sans-serif;
    padding: 30px;
    background: rgb(1, 153, 199);
}