body {
    background: rgb(252, 252, 252);
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/564x/63/11/21/631121f5e0dee1a2b10828bfe0bc9938.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#titulo {
    text-align: center;
    font-family: 'Oswald', sans-serif;;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    --main-border: #edf5fd;
    --secondery-border: #e2e2e2;
    --primary-color: #07f;
    --danger-color: #f44336;
    --light-danger-color: #ffecec;
    --active-text-color: #fff;
    --header-color: #535461;
    --block-color: #5a6982;
    --outline-imput-bg: #f2f2f2;
    --title-color: #354052;
    font-feature-settings: "tnum";
    border: 10px;
    font: inherit;
    vertical-align: baseline;
    margin: 10px 100px;
    padding: 0px;
    background-image: linear-gradient(to right,#478bef,#44acf1);
    box-shadow: 0 12px 20px #439bf33d;
    border-radius: 22px;
    color: #fff;
    min-height: 50px;
    text-align: center;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
    font-weight: bold
}

section {
     display: flex;
     width: 600px;
     height: 430px;  
     border-radius: 50%;
     position: relative;
     text-align: center;
     margin-left: 400px;
     margin-top: 20px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;

}
section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

#informacion {
        -webkit-tap-highlight-color: transparent;
        -webkit-text-size-adjust: 100%;
        --antd-wave-shadow-color: #1890ff;
        --scroll-bar: 0;
        --main-border: #edf5fd;
        --secondery-border: #e2e2e2;
        --primary-color: #07f;
        --danger-color: #f44336;
        --light-danger-color: #ffecec;
        --active-text-color: #fff;
        --header-color: #535461;
        --block-color: #5a6982;
        --outline-imput-bg: #f2f2f2;
        --title-color: #354052;
        font-feature-settings: "tnum";
        border: 10;
        font: inherit;
        vertical-align: baseline;
        margin: 10px 100px;
        padding: 10px;
        background-image: linear-gradient(to right,#478bef,#44acf1);
        box-shadow: 0 12px 20px #439bf33d;
        border-radius: 30px;
        color: #fff;
        min-height: 100px;
        text-align: center;
        flex-flow: row wrap;
        box-sizing: border-box;
        display: flex;
        place-content: center space-around;
        align-items: center;
        font-weight: bold
 
}
 
#instruccion {
    font-family:'Oswald', sans-serif;   
    color: white;
    font-weight: bold
}

#botones {
    text-align: center;
    margin-top: 50px;
    font-family:'Oswald', sans-serif;
    padding: 30px;
    opacity: 1;
}
#bla {
    background-color: #1890ff;
    color: rgb(255, 255, 255);
    font-size: 20xp;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px;
    width: 200px;
    border: 12px;
    border-radius: 12px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    box-shadow: 0px 5px 4px 5px #000000;
}
